@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Viaoda+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Varela Round, sans-serif;
    font-weight: 400;
    color: #0d1821;
}

h1, h2 {
    font-family: Viaoda Libre, sans-serif;
    font-weight: 400;
    color: #344966;
}

/* logo and navigation links */



/* hero image */

#hero-container {
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-slogan, #cover-slogan h2{
    color: #f0f4ef;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/beach_yoga_homepage_heroimage.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#cover-slogan {
    position: absolute;
    bottom: 2px;
    left: 16px;

    font-family: Viaoda Libre, sans-serif;
    letter-spacing: 5px;
    font-size: 130%;
}

