@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Viaoda+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    color: #0d1821;
    background-color: #f0f4ef; 
}

h1, h2 {
    font-family: 'Viaoda Libre', sans-serif;
    font-weight: 400;
    color: #344966;
}

/* logo and navigation links */

#logo {
    float: left;
    margin-left: 20px;
    font-size: 300%;
    font-weight: 900;
    letter-spacing: 3px;
}

#logo img {
    margin-right: 5px;
    margin-top: 5px;
}

#logo #navbar {
    line-height: 50px;
}

#navbar {
    font-size: 120%;
    letter-spacing: 5px;
}

#navbar li {
    float: right;
    font-size: 120%;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 45px;
}

#navbar a {
    text-decoration: none;
    color: #0d1821;
}

#navbar a:hover {
    border-bottom: 2px solid #344966;
}

.active {
    border-bottom: 2px solid #344966;
}


/* hero image */

#hero-container {
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-slogan, #cover-slogan h2{
    color: #f0f4ef;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/beach_yoga_homepage_heroimage.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#cover-slogan {
    position: absolute;
    bottom: 2px;
    left: 10px;

    font-family: 'Viaoda Libre', sans-serif;
    letter-spacing: 5px;
    font-size: 130%;
}

/* about us */

#about-us {
    width: 90%;
    margin: auto;
    color: #344966;
}

.about h2 {
    font-size: 200%;
    font-weight: 900;
    text-transform: capitalize;
    color: #344966;
    letter-spacing: 2px;
}

.about {
    padding: 10px;
    margin: auto;
}

.about p {
    font-size: 120%;
}

#benefits {
    padding: 20px;
    margin: auto;
    width: 90%;
}

.square {
    background-color: #344966;
    color: #b4cded;
    height: 250px;
    width: 30%;
    overflow: auto;
    padding: 5px;
    margin: 5px;

    display: inline-block;
    text-align: center;
    vertical-align: middle;

    line-height: 120%;

}

/* footer */

footer {
    height: 75px;
    bottom: 0;
    width: 100%;
    background-color: #bfcc94;
}

#social-media {
    text-align: center;
}

#social-media li {
    display: inline-block;
}

#social-media i {
    font-size: 300%;
    color: #344966;
    margin: 15px 30px 0 30px; 
}

/* classes main image */

#classes {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#classes-text, #classes-text h2 {
    color: #0d1821;
    font-size: 150%;
    font-style: oblique;
    background-color: #b4cded;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 0 3px;
    margin: 0;
}

#classes-image {
    height: 500px;
    width: 100%;
    background: url('../images/yoga_class_classes_page.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


#classes-text {
    position: absolute;
    bottom: 2px;
    left: 10px;

    font-family: 'Viaoda Libre', sans-serif;
    letter-spacing: 5px;
    font-size: 130%;
}

/* media queries */

/* for large screens of 992px and below */
@media screen and (max-width:992px) {
    .square {
        width: 40%;
    }
}

/* for medium screens of 768px and below */
@media screen and (max-width:768px) {
    .square {
        width: 80%;
    }
}

/* for small screens of 576px and below */
@media screen and (max-width:576px) {
    #social-media i {
        font-size: 200%;
        margin: 15px 15px 0 15px;
    }
}