@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Viaoda+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    color: #0d1821;
    background-color: #f0f4ef; 
}

h1, h2 {
    font-family: 'Viaoda Libre', sans-serif;
    font-weight: 400;
    color: #344966;
}

/* logo and navigation links */

#logo {
    float: left;
    margin-left: 20px;
    font-size: 300%;
    font-weight: 900;
    letter-spacing: 3px;
}

#logo img {
    margin-right: 5px;
    margin-top: 5px;
}

#logo #navbar {
    line-height: 50px;
}

#navbar {
    font-size: 120%;
    letter-spacing: 5px;
}

#navbar li {
    float: right;
    font-size: 120%;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 45px;
}

#navbar a {
    text-decoration: none;
    color: #0d1821;
}

#navbar a:hover {
    border-bottom: 2px solid #344966;
}

.active {
    border-bottom: 2px solid #344966;
}


/* hero image */

#hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;

    position: relative;
}

#cover-slogan, #cover-slogan h2{
    color: #f0f4ef;
}

#hero-image {
    width: 100%;
    height: auto; 
    background: url('../images/hero_image.jpg');
    display: flex;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#cover-slogan {
    position: absolute;
    bottom: 2px;
    left: 10px;

    font-family: 'Viaoda Libre', sans-serif;
    letter-spacing: 5px;
    font-size: 130%;
}

/* about us */

#about-us {
    width: 90%;
    margin: auto;
    color: #344966;
}

.about h2 {
    font-size: 200%;
    font-weight: 900;
    text-transform: capitalize;
    color: #344966;
    letter-spacing: 2px;
}

.about {
    padding: 10px;
    margin: auto;
}

.about p {
    font-size: 120%;
}

#benefits {
    padding: 20px;
    margin: auto;
    width: 90%;
}

.square {
    background-color: #344966;
    color: #b4cded;
    height: 250px;
    width: 30%;
    overflow: auto;
    padding: 5px;
    margin: 5px;

    display: inline-block;
    text-align: center;
    vertical-align: middle;

    line-height: 120%;

}

/* footer */

footer {
    height: 75px;
    bottom: 0;
    width: 100%;
    background-color: #bfcc94;
}

#social-media {
    text-align: center;
}

#social-media li {
    display: inline-block;
}

#social-media i {
    font-size: 3vw;
    color: #344966;
    margin: 15px 30px 0 30px; 
}

/* classes main image */

#classes {
    height: 90vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    
    position: relative;
}

#classes-text h2 {
    color: #0d1821;
    font-weight: 700;
}

#classes-text {
    font-size: 150%;
    font-style: oblique;
    background-color: #b4cded;
    letter-spacing: 5px;
    padding: 0 3px;
    margin: 0;
}

#classes-image {
    width: 100%;
    height: auto;
    background-image: url('../images/yoga_class_classes_page.jpg');
    display: flex;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}


#classes-text {
    position: absolute;
    bottom: 2px;
    left: 10px;

    font-family: 'Viaoda Libre', sans-serif;
    letter-spacing: 5px;
    font-size: 130%;
}

/*class details section */


#class-table {
    width: 80%;
    border: 2px ridge #0d1821;
    padding: 20px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;

    background-color: #344966;
    color: #f0f4ef;
}

.days {
    background-color: #0d1821;
    color: #f0f4ef;
    padding: 5px;
    margin: 10px;
    text-transform: uppercase;
    border: 2px ridge #f0f4ef
}

tr {
    background-color: #f0f4ef;
    color: #344966;
    border: none;
}

td {
    padding: 10px;
    text-align: left;
}

#class-info, #class-types {
    border: 2px ridge #0d1821;
    padding: 10px;
    margin: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    line-height: 1.5;
    background-color: #344966;
    color: #f0f4ef;
}

#class-info {
    list-style-position: inside;
}

#class-info h3 {
    padding: 10px;
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: 800; 
}

#namaste {
    list-style-type: none;
    text-decoration: underline;
    font-size: 120%;
    letter-spacing: 1px;
}

#class-types h3, h4 {
    padding: 10px;
    letter-spacing: 2px;
}

#class-types h3 {
    text-decoration: underline;
    font-weight: 800; 
}

#class-types h4 {
    text-decoration-line: underline;
}

/* media queries */

/* for screens 1200px and above */
@media screen and (min-width:1200px) {
    #hero-image {
        background-size: cover;
    }

/* for screens 1080px and above */
@media screen and (min-width:1080px) {
    #classes-image {
        background-size: cover;
    }

/* for large screens of 992px and below */
@media screen and (max-width:992px) {
    .square {
        width: 40%;
    }
    #hero-container {
        background-size: contain;
    }
    #social-media i {
        font-size: 6vw;
    }
}

/* for medium screens of 768px and below */
@media screen and (max-width:768px) {
    .square {
        width: 80%;
    }
    #hero-container {
        background-size: contain;
    }
    #social-media i {
        font-size: 6vw;
    }
}

/* for small screens of 576px and below */
@media screen and (max-width:576px) {
    #social-media i {
        font-size: 8vw;
    } 
}